<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentes :: html_head ('Quản lý')"></head>
<head>
    <link rel="stylesheet" th:href="@{/assets/css/manage.css}">
</head>
<body>
<div th:replace="fragmentes :: header"></div>
<!-- start nav -->
<div th:replace="fragmentes :: back_to_top"></div>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand">
            <img
                    class="d-inline-block"
                    th:src="@{/assets/img/logo1.svg}"
                    alt="" width="40" height="40"
            />
            <span class="fw-bolder">SHOPPING</span>
        </a>
        <div class="container text-center">
            <h5 class="w-100 my-2">QUẢN LÝ PSHOP</h5>
        </div>
    </div>
</nav>
<!-- end nav -->


<!-- start body -->
<div class="body py-2">
    <div class="d-flex justify-content-between">
        <div class="control">
            <div class="control-header ps-3 py-3 mb-2 ">
                Xin chào,
                <h6 class="d-inline">Anh Đức</h6>
                !
            </div>
            <div class="control-body  py-2 pb-1">
                <div class="control-list">
                    <a th:href="@{/manage}" class="text-decoration-none ">
                        <div class="control-item py-3 ps-3 ">
                            <i class="fa-solid fa-chart-line"></i>
                            <span>Tổng quan</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/revenue}" class="text-decoration-none ">
                        <div class="control-item py-3 ps-3 object--border-left">
                            <i class="fa-solid fa-chart-line"></i>
                            <span>Thống kê</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/promotion}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-tag"></i>
                            <span>Quản lý CTKM</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/product}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-brands fa-product-hunt"></i>
                            <span>Quản lý sản phẩm</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/order}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Quản lý đơn hàng</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="control-footer ps-3 py-3 mb-2">

            </div>
        </div>
        <div class="content">
            <div class="content-header ps-3 py-3 mb-2">
                <h5 class="text-uppercase">thống kê</h4>
            </div>
            <div class="content-body mt-4">
                <div class="content-body-main p-3">
                    <div class="revenue-total d-flex">
                        <div class="w-75 shadow-sm border border border-grey ms-1">
                            <div class="revenue-total-control d-flex justify-content-between">
                                <h5 class="ps-3 pt-3">Doanh Thu Ngày</h5>
                                <div class="ps-3 pt-3">
                                        <span class="revenue-btn-action" role="button" onclick="prevMonth()">
                                            <i class="fa-sharp fa-solid fa-angle-left"></i>
                                        </span>
                                    <h6 id="revenue-total-date" class=""></h6>
                                    <span class="revenue-btn-action" role="button" onclick="nextMonth()">
                                            <i class="fa-solid fa-angle-right pe-1"></i>
                                        </span>
                                </div>
                            </div>
                            <canvas id="revenue-total-chart"></canvas>
                        </div>
                        <div class="w-25 shadow-sm border border border-grey ms-1">
                            <h5 id="month-revenue-title" class="text-center ps-3 pt-3"></h5>
                            <div class="h-100 align-items-center d-flex">
                                <canvas id="month-revenue-canvas"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="revenue-productive mt-4">
                        <h5 class="">Doanh Thu Sản Phẩm</h5>
                    </div>

                </div>
            </div>
            <!-- <div class="content-footer ps-3 py-2 mb-1">
            ok
        </div> -->
        </div>
</div>
<!-- end body -->


<!-- start footer -->
<div class="footer bg-light">
    <div class="container text-center outter-footer">
        <p class="mt-1">Copyrights © 2022 by DucPham</p>
    </div>
</div>
<!-- end footer -->


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/chart.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/manage/manage.js}"></script>
<script th:src="@{/assets/js/manage/managerevenue.js}"></script>
</body>

</html>