<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đơn hàng</title>
    <link rel="icon" th:href="@{/assets/img/logo.png}" type="image/icon type">

    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/manage.css}">
    <!-- js -->


</head>
<body>
<!-- back to top -->
<div th:replace="fragmentes :: back_to_top"></div>
<!-- header -->
<div th:replace="fragmentes :: header"></div>
<!-- end header -->

<!-- start nav -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img
                    class="d-inline-block"
                    th:src="@{/assets/img/logo1.svg}"
                    alt="" width="40" height="40"
            />
            <span class="fw-bolder">SHOPPING</span>
        </a>
        <div class="container text-center">
            <h5 class="w-100 my-2">QUẢN LÝ PADSHOP</h5>
        </div>
    </div>
</nav>
<!-- end nav -->


<!-- start body -->
<div class="body py-2">
    <div class=" d-flex justify-content-between w-100">
        <div class="control">
            <div class="control-header ps-3 py-3 mb-2 ">
                Xin chào,
                <h6 class="d-inline">Anh Đức</h6>
                !
            </div>
            <div class="control-body  py-2 pb-1">
                <div class="control-list">
                    <a th:href="@{/manage}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-chart-line"></i>
                            <span>Tổng quan</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/revenue}" class="text-decoration-none ">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-chart-line"></i>
                            <span>Thống kê</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/promotion}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-tag"></i>
                            <span>Quản lý CTKM</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/product}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-brands fa-product-hunt"></i>
                            <span>Quản lý sản phẩm</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/order}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3 object--border-left">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Quản lý đơn hàng</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="control-footer ps-3 py-3 mb-2">

            </div>
        </div>
        <div class="content">
            <div class="content-header ps-3 py-3 mb-2">
                <h5 class="text-uppercase">quản lý đơn hàng</h4>
            </div>
            <div class="content-body pt-3">
                <div class="content-body-header">
                    <span class="header-item mb-0 py-2 object--border-bottom text-primary">Đơn hàng đang chờ duyệt</span>
                    <span class="header-item mb-0 py-2 text-success">Đơn hàng đã duyệt</span>
                    <span class="header-item mb-0 py-2 text-danger">Đơn hàng đã hủy</span>
                </div>
                <div class="content-body-main d-flex justify-content-center">

                    <!-- table order -->
                    <div class="table-responsive table-order my-5 w-75" style="height: 500px;">
                        <table class="table table-hover" id="order-table">
                            <thead>
                            <tr>
                                <th style="min-width: 100px;" scope="col" class="ps-0">STT</th>
                                <th style="min-width: 200px;" scope="col">Mã đơn hàng</th>
                                <th style="min-width: 170px;" scope="col">Ngày đặt</th>
                                <th style="min-width: 200px;" scope="col">Tổng thanh toán</th>
                                <th style="min-width: 200px;" scope="col">Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orderList}" class="order-item">
                                <th class="ps-0" scope="row" th:text="*{orderList.indexOf(order)+1}">1
                                </td>
                                <td th:text="*{order.orderId}">32443</td>
                                <td th:text="*{order.buyingDate}">12/09/2002</td>
                                <td>
                                    <span th:text="*{order.getPayTotalCurrency()}">343.000</span><i
                                        class="fa-solid fa-dong-sign"></i>
                                </td>
                                <td>
                                                <span type="button" data-bs-toggle="modal"
                                                      data-bs-target="#orderDetailModal"
                                                      class="text-decoration-none text-primary view-order"
                                                      th:attr="order-id = *{order.orderId}">
                                                    Chi tiết
                                                </span>
                                    <span role="button" class="text-decoration-none text-success mx-3 approval-order"
                                          th:attr="order-id = *{order.orderId}">
                                                    Duyệt
                                                </span>
                                    <span role="button" class="text-decoration-none text-danger denied-order"
                                          th:attr="order-id = *{order.orderId}">
                                                    Hủy
                                                </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- Modal order detail -->
                        <!-- Modal -->
                        <div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog"
                             aria-labelledby="orderDetailModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="">
                                            <h5 class="modal-title d-inline" id="exampleModalLongTitle">Thông tin đơn
                                                hàng:</h5>
                                            <!-- order id -->
                                            <h5 class="d-inline text-secondary" id="modal-order-id">305494</h5>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Thông tin người nhận</h5>
                                        <div class="ps-3 pb-2">
                                            <h6>Họ tên: <span class="fw-normal"
                                                              id="modal-order-buyername">Phạm Anh Đức</span></h6>
                                            <h6>SĐT: <span class="fw-normal" id="modal-order-phonenum">0355356543</span>
                                            </h6>
                                            <h6>Địa chỉ: <span class="fw-normal" id="modal-order-address">thôn Phượng Hoàng, Nghĩa Phương - Lục Nam - Bắc Giang</span>
                                            </h6>
                                        </div>
                                        <h5>Thông tin đơn hàng</h5>
                                        <div class="ps-3 pb-4" id="order-item-list">
                                            <div class="d-flex justify-content-between">
                                                <span class="fw-bold order-item-name">Tên</span>
                                                <span class="fw-bold">SL</span>
                                                <span class="fw-bold">Phân loại</span>
                                                <span class="fw-bold">Thành tiền</span>
                                            </div>

                                            <!-- order item -->
                                            <!--                                            <div class="d-flex justify-content-between">-->
                                            <!--                                                <span class="order-item-name">Áo phông nam hàn quốc APH494</span>-->
                                            <!--                                                <span>10</span>-->
                                            <!--                                                <span>XL - đỏ</span>-->
                                            <!--                                                <span>100,000 <i class="fa-solid fa-dong-sign"></i></span>-->
                                            <!--                                            </div>-->

                                        </div>

                                        <div class="border-top pt-4">
                                            <h5 class="d-inline pe-2 text-secondary">TỔNG THANH TOÁN:</h5>
                                            <h5 class="d-inline" id="modal-order-paytotal">1,000,000</h5><i
                                                class="fa-solid fa-dong-sign"></i>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        </button>
                                        <button type="button" class="btn btn-primary">In hóa đơn</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end body -->


<!-- start footer -->
<div class="footer bg-light">
    <div class="container text-center outter-footer">
        <p class="mt-1">Copyrights © 2022 by DucPham</p>
    </div>
</div>
<!-- end footer -->


</div>


<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/manage/manage.js}"></script>
<script th:src="@{/assets/js/manage/manageorder.js}"></script>
</body>

</html>