<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentes :: html_head ('Quản lý')"></head>
<head>
    <link rel="stylesheet" th:href="@{/assets/css/manage.css}">
</head>
<body>
<div th:replace="fragmentes :: back_to_top"></div>
<div th:replace="fragmentes :: header"></div>
<!-- start nav -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand">
            <img
                    class="d-inline-block"
                    th:src="@{/assets/img/logo1.svg}"
                    alt="" width="40" height="40"
            />
            <span class="fw-bolder">SHOPPING</span>
        </a>
        <div class="container text-center">
            <h5 class="w-100 my-2">QUẢN LÝ PSHOP</h5>
        </div>
    </div>
</nav>
<!-- end nav -->


<!-- start body -->
<div class="body py-2">
    <div class="d-flex justify-content-between">
        <div class="control">
            <div class="control-header ps-3 py-3 mb-2 ">
                Xin chào,
                <h6 class="d-inline">Anh Đức</h6>
                !
            </div>
            <div class="control-body  py-2 pb-1">
                <div class="control-list">
                    <a th:href="@{/manage}" class="text-decoration-none ">
                        <div class="control-item py-3 ps-3 object--border-left ">
                            <i class="fa-solid fa-chart-line"></i>
                            <span>Tổng quan</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/revenue}" class="text-decoration-none ">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-chart-line"></i>
                            <span>Thống kê</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/promotion}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-tag"></i>
                            <span>Quản lý CTKM</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/product}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-brands fa-product-hunt"></i>
                            <span>Quản lý sản phẩm</span>
                        </div>
                    </a>
                    <a th:href="@{/manage/order}" class="text-decoration-none">
                        <div class="control-item py-3 ps-3">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Quản lý đơn hàng</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="control-footer ps-3 py-3 mb-2">

            </div>
        </div>
        <div class="content">
            <div class="content-header ps-3 py-3 mb-2">
                <h5>TỔNG QUAN</h5>
            </div>
            <div class="content-body py-3 mb-2 d-flex flex-column">
                <div class="conten-body-row content-body-row-total d-flex justify-content-between w-100 flex-wrap">
                    <div class="rounded-1 total-item mb-5 pb-2 me-3 shadow-sm border">
                        <div class="d-flex align-items-center">
                            <h5 class="ps-3 pt-3 d-inline-block ">Doanh thu</h5>
                            <div id="ovv-rvn-pct" class="d-inline-block h-100 ms-3">
                            </div>
                        </div>
                        <h4 id="ovv-rvn-curr-val" class="fw-normal ps-3 pt-3 text-primary d-inline-block"></h4>
                    </div>
                    <div class="rounded-1 total-item mb-5 pb-2 me-3 shadow-sm border">
                        <h5 class="ps-3 pt-3">Doanh thu tháng trước</h5>
                        <h4 id="ovv-rvn-pre-val" class="fw-normal ps-3 pt-3 d-inline-block text-success"></h4>
                    </div>
                    <div class="rounded-1 total-item mb-5 pb-2 me-3 shadow-sm border">
                        <div class="d-flex align-items-center">
                            <h5 class="ps-3 pt-3 d-inline-block ">Số đơn hàng</h5>
                            <div id="ord-rvn-pct" class="d-inline-block h-100 ms-3">
                            </div>
                        </div>
                        <h4 id="ord-rvn-curr-val" class="fw-normal ps-3 pt-3 text-primary"></h4>
                    </div>
                    <div class="rounded-1 total-item mb-5 pb-2 me-3 shadow-sm border">
                        <h5 class="ps-3 pt-3">Số đơn hàng tháng trước</h5>
                        <h4 id="ord-rvn-pre-val" class="fw-normal ps-3 pt-3 text-success"></h4>
                    </div>
                    <div class="rounded-1 total-item mb-5 pb-2 me-3 shadow-sm border">
                        <h5 class="ps-3 pt-3">Đơn hàng chờ duyệt</h5>
                        <h4 th:text="${pending}" class="fw-normal ps-3 pt-3 text-danger"></h4>
                    </div>
                </div>
                <div class="conten-body-row content-body-row-total d-flex justify-content-between w-100 mt-2">
                </div>
                <div class="conten-body-row content-body">
                </div>
                <div class="conten-body-row content-body-row-">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end body -->


<!-- start footer -->
<div class="footer bg-light">
    <div class="container text-center outter-footer">
        <p class="mt-1">Copyrights © 2022 by DucPham</p>
    </div>
</div>
<!-- end footer -->


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/canvasjs.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/manage/manage.js}"></script>
<script th:src="@{/assets/js/manage/managehome.js}"></script>
</body>

</html>