@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* common */
:root {
    --primary-color: #1e81b0;
    font-family: 'Roboto', sans-serif;
}

/* objec disabled*/
.object--disabled {
    background-color: #999999;
}

.object--disabled:hover {
    cursor: default;
}

a:hover {
    color: #000;
    opacity: 0.8;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
}

.fs-icon {
    font-size: 10px;
}

/* common */

.search-input {
    border-radius: 0 !important;
    border-right: 0 !important;
    border: 1px solid #000
}

.search-btn {
    border-radius: 0;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.input {
    border-radius: 0px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    box-shadow: none;
    border: 2px solid #000;
}

/* end commom */


/* back to top */
#btn-back-to-top {
    z-index: 1000;
}

/* start navbar */

.nav-link {
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-toggler {
    box-shadow: none !important;
}

/* header */
.header {
    font-size: 13px;
    height: 30px;
}

.header-link {
    text-decoration: none;
    color: #000;
    padding-left: 16px;
}

.header-link:hover {
    cursor: pointer;
}

.cart-quantity {
    color: brown;
}

@media screen and (max-width: 1200px) {
    .nav-link {
        font-size: 14px;
    }
}

.dropdown-menu.show {
    top: 120%;
    border: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

/* modal form */
.auth-form {
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.auth-form-header {
    margin-top: 8px;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
}

.auth-form-header-link {
    text-decoration: none;
    color: #000;
}

.auth-form-body {
    padding: 8px 24px;
}

.auth-form-group {
    padding: 8px 0;
}

.auth-form-input {

    margin: 16px 0px;
    width: 100%;
}

.input:focus {
    border-color: #777;
    box-shadow: none;
}

.auth-form-link {
    display: flex;
    justify-content: flex-end;
}

.auth-form-footer {
    margin: 36px 0px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
}

.btn-auth-form {
    margin-left: 8px;
    min-width: 120px;
}

.object--disapper {
    display: none;
}

/* end navbar */

/* start slider */
.carousel-item {
    height: 32rem;
    background-color: #777;
    color: #fff;
}

.carousel-item .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 50px;
    padding-bottom: 50px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.slider-img {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-position: center;
    opacity: 0.7;
    background-size: cover;
}

/* collection */
.title h2::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #777;
    left: -20px;
    top: 50%;
    transform: translateY(-40%);
}

.active-filter-btn {
    background-color: #777;
}

.collection-img span {
    font-size: 1rem;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 10px;
}

.collection-item {
    min-height: calc(100% + 34.2px);
}

.collection-item:hover .collection-btn {
    visibility: visible;
}

.collection-btn {
    visibility: hidden;
}

.collection-btn a {
    border-radius: 0px;
    font-size: 0.8rem;
    margin: .5px;
}

/* start body - new */
.new-detail {
    font-size: 14px;
}

/* footer */
.footer {
    background-color: #777;
}

.item-innerfooter {
    margin: 12px 0;
}

.footer-title {
    margin: 12px 0;
}

.footer-content p {
    margin: 4px 0;
    font-size: 14px;
}

.footer-content a {
    text-decoration: none;
    color: #000;
}

.footer-content i {
    padding: 0 2px;
}

#promotion-img {
    position: relative;
    height: 512px;
}

/*---------PAGE------------*/
.page-link{
    position: relative;
    display: block;
    color: #000000 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #646464 !important;
    border-color: #000000 !important;
}