<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentes :: html_head (${title})"></head>
<body>
<!-- back to top -->
<div th:replace="fragmentes :: back_to_top"></div>
<!-- header -->
<div th:replace="fragmentes :: header"></div>
<nav th:replace="fragmentes :: navbar"></nav>
<!-- end nav -->


<!-- start body -->
<div class="body py-5">
    <!-- start collection -->
    <div id="collection">
        <div class="container">
            <h5 class="text-center py-4 text-uppercase" th:text="${title}"></h5>
            <div class="collection-list mt-4 row">
                <div class="collection-item col-md-6 col-lg-4 col-xl-3 my-4" th:each="product : ${productDTOs}">
                    <div class="collection-img position-relative ">
                        <a th:href="@{'/product/' + *{product.slug}}" class="">
                            <img th:src="*{product.imageName}"
                                 alt="" class="w-100">
                        </a>
                        <span class="position-absolute bg-dark text-white
                                d-flex justify-content-center align-items-center" th:if="*{product.promote == false}">New</span>
                        <span class="position-absolute bg-dark text-white
                                d-flex justify-content-center align-items-center" th:if="*{product.promote}">Sale</span>
                    </div>
                    <div class="collection-info text-center">
                        <p class="my-1 text-capitalize" th:text="*{product.name}">quần short</p>
                        <div class="" th:if="*{product.promote}">
                                    <span class="fw-bold text-secondary text-decoration-line-through"
                                          th:text="*{product.priceCurr}">
                                        150.000
                                    </span><i class="fa-solid fa-dong-sign pe-1 text-secondary"></i>
                            <span class="fw-bold ps-1" th:text="*{product.disPriceCurr}">
                                        150.000
                                    </span><i class="fa-solid fa-dong-sign"></i>
                        </div>
                        <div th:if="*{product.promote == false}">
                            <span class="fw-bold" th:text="*{product.priceCurr}">150.000</span><i
                                class="fa-solid fa-dong-sign"></i>
                        </div>
                    </div>
                    <div class="collection-btn d-flex w-100 mt-2">
                        <a th:href="@{'/product/' + *{product.slug}}" class="btn btn-dark w-50">
                            <i class="fa-solid fa-cart-shopping fs-icon"></i>
                            Mua ngay
                        </a>
                        <a th:href="@{'/product/' + *{product.slug}}" class="btn btn-dark w-50">
                            <i class="fa-solid fa-eye fs-icon"></i>
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center" th:if="${products.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!products.paging.prevEnable ? 'object--disapper' : ''}">
                        <a class="page-link" th:href="${@repOrAddParam.apply('page', '1')}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${!products.paging.prevEnable ? 'object--disapper' : ''}">
                        <a class="page-link"
                           th:href="${@repOrAddParam.apply('page', ''+__${products.paging.getPageNumber()-1}__+'' )}">
                            <span aria-hidden="true">‹</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="item : ${products.paging.getItems()}"
                        th:classappend="${item.index == products.paging.pageNumber ? 'active' : ''}">
                        <a class="page-link" th:href="${@repOrAddParam.apply('page', ''+__*{item.index}__+'')}"
                           th:text="*{item.index}">1</a>
                    </li>

                    <li class="page-item" th:classappend="${!products.paging.nextEnable ? 'object--disapper' : ''}">
                        <a class="page-link"
                           th:href="${@repOrAddParam.apply('page', ''+__${products.paging.getPageNumber()+1}__+'' )}">
                            <span aria-hidden="true">›</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${!products.paging.nextEnable ? 'object--disapper' : ''}">
                        <a class="page-link"
                           th:href="${@repOrAddParam.apply('page', ''+__${products.page.totalPages}__+'')}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- end collection -->

</div>
<!-- end body -->


<!-- start footer -->
<div th:replace="fragmentes :: footer"></div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>