<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head (title)"  th:with="img=${img} ?: 'https://www.phamanhduc.com/assets/img/logo1.png'">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" th:content="${title}">
    <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta property="og:image" th:content="${img}" />
    <meta property="og:url" content="https://www.phamanhduc.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">PAD Shop</title>
    <link rel="icon" th:href="@{/assets/img/logo.png}" type="image/icon type">

    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">

    <!--    js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<!--Back to top-->
<div id="btn-back-to-top" class="btn border border-dark" th:fragment="back_to_top">
    <i class="fas fa-arrow-up "></i>
</div>

<!--    header-->
<div class="header bg-light " th:fragment="header">
    <div class="container d-flex justify-content-between h-100 align-items-center">
        <div class="topLeft">
            <i class="fa-solid fa-phone"></i>
            0364.743.279
        </div>

        <!-- account logined -->
        <div class="d-flex topRight">

            <a href="/manage" class="header-link" sec:authorize="hasRole('ADMIN')">
                <i class="fa-solid fa-briefcase"></i>
                Quản lý
            </a>

            <!-- account logined -->
            <div class="topRight" id="top-right1" th:value="${#request.remoteUser}"
                 th:if="${#request.remoteUser != null}">
                <a th:href="@{/user/profile}" class="header-link" id="header-account">
                    <i class="fa-solid fa-user"></i>
                    [[${#request.remoteUser}]]
                </a>
                <a th:href="@{/logout}" class="header-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Đăng xuất
                </a>
            </div>

            <!-- account not login -->
            <div class="topRight" id="top-right2" th:if="${#request.remoteUser == null}">
                <a href="/login" class="header-link">
                    <i class="fa-solid fa-user"></i>
                    Tài khoản
                </a>
            </div>

            <a th:href="@{/cart}" class="header-link">
                <i class="fa-solid fa-bag-shopping"></i>
                Giỏ hàng
            </a>
        </div>

    </div>

</div>

<!--navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" th:fragment="navbar">
    <div class="container d-flex">
        <a href="/" class="navbar-brand">
            <img
                    class="d-inline-block"
                    th:src="@{/assets/img/logo1.png}"
                    alt="" width="40" height="40"
            />
            <span class="fw-bolder">SHOPPING</span>
        </a>

        <button
                type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navitation"
        >
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-grow-1 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">trang chủ</a>
                </li>

                <li class="nav-item  dropdown">
                    <a
                            class="nav-link dropdown-toggle active"
                            id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            href="#">
                        áo nam
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                        <li>
                            <a href="/ao-phong" class="dropdown-item">Áo Phông</a>
                        </li>
                        <li>
                            <a href="/ao-polo" class="dropdown-item">Áo Polo</a>
                        </li>
                        <li>
                            <a href="/ao-so-mi" class="dropdown-item">Áo Sơ Mi</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item  dropdown">
                    <a
                            class="nav-link dropdown-toggle active"
                            id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            href="#">
                        quần nam
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                        <li>
                            <a href="/quan-jean" class="dropdown-item">Quần Jean</a>
                        </li>
                        <li>
                            <a href="/quan-au" class="dropdown-item">Quần Âu</a>
                        </li>
                        <li>
                            <a href="/quan-jogger" class="dropdown-item">Quần Jogger</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item  dropdown">
                    <a
                            class="nav-link dropdown-toggle active"
                            id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            href="#">
                        phụ kiện
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                        <li>
                            <a href="/giay-dep" class="dropdown-item">Giày Dép</a>
                        </li>
                        <li>
                            <a href="/tui-vi" class="dropdown-item">Túi Ví</a>
                        </li>
                        <li>
                            <a href="/that-lung" class="dropdown-item">Thắt Lưng</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">tin tức</a>
                </li>
            </ul>

            <form th:action="@{/search}" method="get" class="d-flex nav-search">
                <input type="search" class="form-control rounded search-input"
                       name="q" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="search-addon"/>
                <button type="submit" class="btn btn-outline-dark search-btn" id="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

        </div>


    </div>
</nav>

<!--footer-->
<div th:fragment="delete-confirm">
    <div class="modal fade" id="del-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                </div>
                <div class="modal-body">
                    <p class="text-danger fw-bold text-center">Bạn có chắc chắn muốn xóa?</p>
                    <p class="text-center">Sau khi xóa dữ liệu sẽ không thể khôi phục.</p>
                </div>
                <div class="modal-footer border-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger w-25" id="del-comfirm-btn" data-bs-dismiss="modal">Xóa
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer bg-light" th:fragment="footer">
    <div class="container innter-footer border-bottom border-2">
        <div class="list-innerfooter row">
            <div class="col-lg-4 col-md-6 item-innerfooter">
                <h6 class="text-uppercase footer-title">hỗ trợ khách hàng</h6>
                <div class="footer-content">
                    <p>
                        <a href="" class="">Hướng dẫn mua hàng</a>
                    </p>
                    <p>
                        <a href="" class="">Hướng dẫn chọn size</a>
                    </p>
                    <p>
                        <a href="" class="">Phương thức thanh toán</a>
                    </p>
                    <p>
                        <a href="" class="">Chính sách vận chuyển</a>
                    </p>
                    <p>
                        <a href="" class="">Chính sách đổi trả</a>
                    </p>
                    <p>
                        <a href="" class="">Chính sách bảo mật</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item-innerfooter">
                <h6 class="text-uppercase footer-title">về chúng tôi</h6>
                <div class="footer-content">
                    <p class="fw-bold">
                        PSHOP
                    </p>
                    <p>
                        <i class="fa-solid fa-location-crosshairs"></i>
                        Mộ Lao, Hà Đông, Hà Nội
                    </p>
                    <p>
                        <i class="fa-solid fa-phone"></i>
                        0364.444.333
                    </p>
                    <p>
                        <i class="fa-regular fa-envelope"></i>
                        shoping@pshop.com
                    </p>
                    <p>
                        Theo dõi chúng tôi:
                        <a href="" class="">
                            <i class="fa-brands fa-facebook-square"></i>
                        </a>
                        <a href="" class="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="" class="">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="" class="">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item-innerfooter ">
                <h6 class="text-uppercase footer-title">Fanpage</h6>
                <div class="footer-content mt-3">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHocvienPTIT&tabs=timeline&width=300&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="300" height="220" style="border:none;overflow:hidden"
                            scrolling="no" frameborder="0" allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center outter-footer">
        <p class="mt-1">PTITSHOP - SpringBoot</p>
    </div>
</div>

</body>
</html>