<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentes :: html_head ('PAD Shop')">
</head>

<body>
<!-- back to top -->
<div th:replace="fragmentes :: back_to_top"></div>
<!-- header -->
<div th:replace="fragmentes :: header"></div>
<!-- nav -->
<nav th:replace="fragmentes :: navbar"></nav>


<!-- start slider -->
<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div th:each="promotion: ${promotionList}"
             th:classappend="${promotionList.indexOf(promotion) == 0 ? 'active' : ''}"
             class="carousel-item"
        >
            <div class="slider-img" th:style=" 'background-image: url(' + *{promotion.getImgName()} + ');' ">
            </div>
            <div class="container">
                <h1 class="text-capitalize" th:text="*{promotion.getTitle()}"></h1>
                <p th:text="*{promotion.getDescription()}"></p>
                <a th:href="@{'/promotion/'+${promotion.getPromotionId()}}" class="btn btn-outline-light">Xem chi
                    tiết</a>
            </div>
        </div>

    </div>

    <a class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>

</div>
<!-- end slider -->


<!-- start body -->
<div class="body py-5">
    <!-- start collection -->
    <div id="collection">
        <div class="container">
            <div class="newProduct my-4 text-center pb-5">
                <h2 class="d-inline-block">SẢN PHẨM MỚI</h2>
                <div class="collection-list mt-4 row">
                    <div class="collection-item col-md-6 col-lg-4 col-xl-3 my-4"
                         th:each="product: ${newestProductList}"
                    >
                        <div class="collection-img position-relative ">
                            <a th:href="@{|/product/*{product.slug}|}" class="">
                                <img th:src="*{product.getImageName()}"
                                     alt="" class="w-100"
                                >
                            </a>
                            <span class="position-absolute bg-dark text-white
                                    d-flex justify-content-center align-items-center">New</span>
                        </div>
                        <div class="collection-info text-center">
                            <p class="my-1 text-capitalize" th:text="*{product.getName()+' '+product.getCode()}"></p>
                            <span class="fw-bold" th:text="*{product.getPriceCurr()}"></span>
                            <i class="fa-solid fa-dong-sign"></i>
                        </div>
                        <div class="collection-btn d-flex w-100 mt-2">
                            <a class="btn btn-dark w-50">
                                <i class="fa-solid fa-cart-shopping fs-icon"></i>
                                Mua ngay
                            </a>
                            <a th:href="@{|/product/*{product.slug}|}" class="btn btn-dark w-50">
                                <i class="fa-solid fa-eye fs-icon"></i>
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                <p class="collection-link">
                    <a href="" class="btn btn-outline-dark float-end">Xem thêm</a>
                </p>
            </div>

            <div class="hotProduct my-4 text-center pb-5">
                <h2 class="d-inline-block">SẢN PHẨM ĐANG GIẢM GIÁ</h2>
                <div class="collection-list mt-4 row">
                    <div class="collection-item col-md-6 col-lg-4 col-xl-3 my-4"
                         th:each="product: ${saleProductList}"
                    >
                        <div class="collection-img position-relative ">
                            <a th:href="@{|/product/*{product.slug}|}" class="">
                                <img th:src="*{product.getImageName()}" alt="" class="w-100">
                            </a>
                            <span class="position-absolute bg-dark text-white
                                    d-flex justify-content-center align-items-center">Sale</span>
                        </div>
                        <div class="collection-info text-center">
                            <p class="my-1 text-capitalize" th:text="*{product.getName()+' '+product.getCode()}"></p>
                            <del><span class="fw-bold" th:text="*{product.getPriceCurr()}"></span></del>
                            <i class="fa-solid fa-dong-sign me-3"></i>
                            <span class="fw-bold"
                                  th:text="*{product.getDisPriceCurr()}">
                                </span>
                            <i class="fa-solid fa-dong-sign"></i>
                        </div>
                        <div class="collection-btn d-flex w-100 mt-2">
                            <a href="" class="btn btn-dark w-50">
                                <i class="fa-solid fa-cart-shopping fs-icon"></i>
                                Mua ngay
                            </a>
                            <a th:href="@{|/product/*{product.slug}|}" class="btn btn-dark w-50">
                                <i class="fa-solid fa-eye fs-icon"></i>
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collection-link">
                    <a href="" class="btn btn-outline-dark float-end">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end collection -->

    <!-- start news -->
    <div class="news my-4 text-center pb-5">
        <div class="container">
            <h2 class="d-inline-block">TIN TỨC</h2>
            <div class="news-list row text-start mt-4">
                <div class="new-item col-lg-3 col-md-6 my-4">
                    <a href="" class="new-link">
                        <img src="./assets/img/news/new1.jpg" alt="" class="new-img w-100 mb-3">
                    </a>
                    <span class="new-title fw-bold">[Bỏ túi] 5 cách phối đồ với áo sơ mi đen nam chuẩn phong cách</span>
                    <p class="new-detail">Bạn đã biết đến những tips mix khiến cho chiếc áo sơ mi nam đen
                        của mình đỡ nhàm chán hay chưa. Cùng chúng tôi tìm hiểu để còn những cách mix...</p>
                </div>

                <div class="new-item col-lg-3 col-md-6 my-4">
                    <a href="" class="new-link">
                        <img src="./assets/img/news/new2.jpg" alt="" class="new-img w-100 mb-3">
                    </a>
                    <span class="new-title fw-bold">[Mẹo hay] Cách mặc áo sơ mi đẹp cho nam giới</span>
                    <p class="new-detail">Là một tín đồ của áo sơ mi nam, bạn đã có cho mình những bí
                        quyết để có được set đồ đẹp với áo sơ mi hay chưa, nếu chưa thì cùng tìm hiểu để có...</p>
                </div>

                <div class="new-item col-lg-3 col-md-6 my-4">
                    <a href="" class="new-link">
                        <img src="./assets/img/news/new3.jpg" alt="" class="new-img w-100 mb-3">
                    </a>
                    <span class="new-title fw-bold">[Tổng hợp] Những mẫu sơ mi nam đẹp nhất hiện nay</span>
                    <p class="new-detail">Bài viết dưới đây sẽ đem đến cho các bạn những
                        mẫu sơ mi siêu đẹp và thời trang. Cùng tham khảo để làm mới ngày tủ đồ của mình nhé....</p>
                </div>

                <div class="new-item col-lg-3 col-md-6 my-4">
                    <a href="" class="new-link">
                        <img src="./assets/img/news/new4.jpg" alt="" class="new-img w-100 mb-3">
                    </a>
                    <span class="new-title fw-bold">Cách kết hợp quần tây với áo sơ mi nam chuẩn thanh lịch</span>
                    <p class="new-detail">Các anh chàng chắc chắn không quá xa lạ với
                        những set đồ quần tây với áo sơ mi nam. Tuy nhiên bạn đã biết cách phối nó như thế nào để chuẩn
                        và...</p>
                </div>
            </div>
            <div class="collection-link">
                <a href="" class="btn btn-outline-dark float-end">Xem thêm</a>
            </div>
        </div>
    </div>
    <!-- end news -->
</div>
<!-- end body -->


<!-- start footer -->
<div th:replace="fragmentes :: footer"></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>