<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentes :: html_head ('Đăng ký')">
</head>

<body>
<!-- back to top -->
<div th:replace="fragmentes :: back_to_top"></div>
<!--    header-->
<div th:replace="fragmentes :: header"></div>
<!-- nav -->
<nav th:replace="fragmentes :: navbar"></nav>

<!-- start body -->
<div class="body py-5">
    <div class="container">
        <!-- sign up form -->
        <div class="jumbotron text-center">
            <h1 class="display-4">Đặt hàng thành công!</h1>
            <p class="lead">Cảm ơn bạn đã đặt hàng của chúng tôi.</p>
            <hr class="my-4">
            <p>Xin hãy kiểm tra email của bạn để biết thông tin chi tiết về đơn hàng.</p>
            <a class="btn btn-primary btn-lg" th:href="@{/}" role="button">Quay lại trang chủ</a>
        </div>
    </div>
</div>
<!-- end body -->


<!-- start footer -->
<div th:replace="fragmentes :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="./assets/js/main.js"></script>
<script th:src="@{/assets/js/addressAPI.js}"></script>
</body>

</html>