<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentes :: html_head (title=${product.getName() + ' ' + product.getCode()}, img=${product.getProductImages().get(0).getName()})"></head>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/product.css">
</head>


<body>
<!-- back to top -->
<div th:replace="fragmentes :: back_to_top"></div>
<!-- header -->
<div th:replace="fragmentes :: header"></div>
<!-- end header -->
<nav th:replace="fragmentes :: navbar"></nav>
<!-- end nav -->


<!-- start body -->
<div class="body py-5">
    <div class="container">
        <div class="row justify-content-center my-3" id="product-item" th:attr="product-id=${product.productId}">
            <div class="product-image col-xl-6 col-md-6 col-lg-7 col-sm-12">
                <div id="productImageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">


                    <!-- carousel inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item-product"
                             th:each="productImg: ${product.getProductImages()}"
                             th:classappend="${product.getProductImages().indexOf(productImg) == 0 ? 'active' : ''}"
                        >
                            <a th:href="*{productImg.getName()}" class="fancybox" data-fancybox="gallery1">
                                <img class="d-block w-100" th:src="*{productImg.getName()}" alt="">
                            </a>
                        </div>
                    </div>

                    <!-- carousel control -->
                    <a class="carousel-control-prev" href="#productImageCarousel" role="button" data-bs-slide="prev"
                       onclick="$('#myCarousel').carousel('prev')"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next text-decoration-none" href="#productImageCarousel" role="button"
                       data-bs-slide="next"
                       onclick="$('#myCarousel').carousel('next')"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                    <!-- carousel incators -->
                    <div class="carousel-indicators product-gallery justify-content-start">
                        <div class="item indicator d-block" data-bs-target="#productImageCarousel"
                             th:each="productImg: ${product.getProductImages()}"
                             th:classappend="${product.getProductImages().indexOf(productImg) == 0 ? 'active' : ''}"
                             th:attr="data-bs-slide-to=${product.getProductImages().indexOf(productImg)}"
                        >
                            <img th:src="*{productImg.getName()}" alt="" class="w-100">
                        </div>

                    </div>

                </div>
            </div>

            <div class="product-infor col-xl-4 col-md-6 col-lg-5 col-sm-12">
                <!-- product infor-->
                <div class="item-header border-bottom border-grey">
                    <div class="item-name">
                        <h5 th:text="${product.name + ' ' + product.code}"></h5>
                    </div>
                    <div class="item-price d-flex justify-content-start py-2">
                        <div class="my-auto me-2">
                            <span class="fw-bold fs-4"
                                  th:text="${productDTO.isPromote() == false ?
                            @calculateService.numberToCurrency(productDTO.price) :
                            @calculateService.numberToCurrency(productDTO.discountPrice)  }"
                            ></span><i class="fa-solid fa-dong-sign"></i>
                        </div>

                        <div class="my-auto ps-2 mx-2" th:if="${productDTO.promote == true}">
                            <span class="text-decoration-line-through text-secondary "
                                  th:text="${productDTO.isPromote() == true ? @calculateService.numberToCurrency(productDTO.price) : ''}"
                            >200.000</span><i class="fa-solid fa-dong-sign text-secondary" style="font-size: 12px;"></i>
                        </div>

                        <div class="text-danger my-auto mx-2" th:if="${productDTO.promote == true}">
                            Giảm
                            <span th:text="${productDTO.isPromote() == true ? productDTO.discount : ''}">72</span>%
                        </div>
                    </div>
                </div>

                <div class="item-body py-3">
                    <form id="buy-product-frm" quantity-id="" quantity="" th:action="@{/product/checkout}"
                          method="post">
                        <div class="form-body pb-1 border-bottom boder-grey">
                            <!-- select color -->
                            <div class="select-item-color py-1" th:if="${productDTO.noColor == false}">
                                <h6 class="d-inline pe-3">MÀU SẮC</h6>
                                <span class="item-color-selected text-capitalize" value=""></span>
                                <div class="color-item-list d-flex mt-1 mb-2 flex-wrap">
                                    <!-- color item -->
                                    <div color="Đen" class="color-item my-2 me-2" role="button"
                                         th:each="colors : ${productQtyDTO.getQuantityByColor()}"
                                         th:attr="color = *{colors.color}">
                                        <div class="color-item-wrap position-relative">
                                            <img th:src="*{colors.imageName}" alt=""
                                                 class="w-100 img-responsive  overflow-hidden rounded-circle border-2 border-dark"
                                                 style="height: 32px; object-fit: cover;">
                                            <div class="color-label text-capitalize" th:text="*{colors.color}">
                                                Đen
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- color size -->
                            <div class="select-item-size py-1">
                                <h6 class="d-inline pe-3">KÍCH THƯỚC</h6>
                                <span class="item-size-selected text-uppercase" value=""></span>
                                <div class="size-item-list d-flex justify-content-start mt-1 mb-2">
                                    <div sizeID="1" size="m" class="size-item my-2 me-2 border border-grey text-center"
                                         role="button"
                                         style="min-width: 40px; height: 40px;"
                                         th:each="size : ${listSize}" th:attr="size = *{size}">
                                        <span class="size-item-text text-uppercase px-1" style="line-height: 38px;"
                                              th:text="*{size}">
                                            m
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- item quantity -->
                            <div class="select-item-quantity py-1">
                                <h6 class="d-inline pe-3">SỐ LƯỢNG</h6>
                                <div class="item-qty mt-2 mb-2 d-flex text-center" style="height: 40px;" role="button">
                                    <div class="h-100 border border-grey" style="width: 40px;"
                                         onclick="decreaseQuantity()">
                                        <span style="line-height: 34px;">-</span>
                                    </div>
                                    <div class="h-100">
                                        <input class="item-qty-selected h-100 border border-grey form-input input text-center"
                                               type="text" name="" id="" value="1" style="width: 60px;"
                                               oninput="checkIsNumber(value)">
                                    </div>
                                    <div class="h-100 border border-grey" style="width: 40px;"
                                         onclick="increaseQuantity()">
                                        <span style="line-height: 34px;">+</span>
                                    </div>
                                </div>
                                <span class="text-danger feedback-validnumber"></span>
                            </div>
                        </div>

                        <div class="form-footer pt-4">
                            <div class="row form-select-item" style="height: 50px;">
                                <div class="col-6">

                                    <button class="productBtn btn btn-dark rounded-0 w-100 p-1 text-uppercase h-100"
                                            id="addToCartBtn" disabled>
                                        Thêm vào giỏ hàng
                                    </button>

                                </div>
                                <div class="col-6">
                                    <input type="hidden" id="quantityId" th:field="${quantity.quantityId}"></input>
                                    <input type="hidden" id="quantity" th:field="${quantity.quantity}"></input>
                                    <button type="submit"
                                            class="productBtn btn btn-dark rounded-0 w-100 p-1 text-uppercase h-100"
                                            id="buyNowBtn" disabled>
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-recommend">
            <h5 class="text-uppercase text-center mt-5 mb-3">Bạn có thể thích</h5>
            <div class="list-product-recommend my-4">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item mx-4 text-center">
                        <a href="">
                            <img th:src="@{/assets/img/collection/hot.png}" alt="" class="w-100">
                        </a>
                        <h6 class="fw-normal mb-0">Áo hàng hiệu OK</h6>
                        <span>
                                <span class="fw-bold">400.000</span><i class="fa-solid fa-dong-sign fs-6"></i>
                            </span>
                    </div>
                    <div class="item mx-4 text-center">
                        <a href="">
                            <img th:src="@{/assets/img/collection/hot.png}" alt="" class="w-100">
                        </a>
                        <h6 class="fw-normal mb-0">Áo hàng hiệu OK</h6>
                        <span>
                                <span class="fw-bold">400.000</span><i class="fa-solid fa-dong-sign fs-6"></i>
                            </span>
                    </div>
                    <div class="item mx-4 text-center">
                        <a href="">
                            <img th:src="@{/assets/img/collection/hot.png}" alt="" class="w-100">
                        </a>
                        <h6 class="fw-normal mb-0">Áo hàng hiệu OK</h6>
                        <span>
                                <span class="fw-bold">400.000</span><i class="fa-solid fa-dong-sign fs-6"></i>
                            </span>
                    </div>
                    <div class="item mx-4 text-center">
                        <a href="">
                            <img th:src="@{/assets/img/collection/hot.png}" alt="" class="w-100">
                        </a>
                        <h6 class="fw-normal mb-0">Áo hàng hiệu OK</h6>
                        <span>
                                <span class="fw-bold">400.000</span><i class="fa-solid fa-dong-sign fs-6"></i>
                            </span>
                    </div>
                    <div class="item mx-4 text-center">
                        <a href="">
                            <img th:src="@{/assets/img/collection/hot.png}" alt="" class="w-100">
                        </a>
                        <h6 class="fw-normal mb-0">Áo hàng hiệu OK</h6>
                        <span>
                                <span class="fw-bold">400.000</span><i class="fa-solid fa-dong-sign fs-6"></i>
                            </span>
                    </div>
                    <div class="item mx-4 text-center">
                        <a href="">
                            <img th:src="@{/assets/img/collection/hot.png}" alt="" class="w-100">
                        </a>
                        <h6 class="fw-normal mb-0">Áo hàng hiệu OK</h6>
                        <span>
                                <span class="fw-bold">400.000</span><i class="fa-solid fa-dong-sign fs-6"></i>
                            </span>
                    </div>
                    <div class="item mx-4 text-center">
                        <a href="">
                            <img th:src="@{/assets/img/collection/hot.png}" alt="" class="w-100">
                        </a>
                        <h6 class="fw-normal mb-0">Áo hàng hiệu OK</h6>
                        <span>
                                <span class="fw-bold">400.000</span><i class="fa-solid fa-dong-sign fs-6"></i>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end body -->


<!-- start footer -->
<div th:replace="fragmentes :: footer"></div>
<!-- end footer -->

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- fancy box(lightbox) -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/product.js}"></script>

<!-- owl carousel -->
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>

</body>

</html>